<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="/Scripts/Products.js"></script>
    <style>
        div {
            padding-top: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            font-size:100%
        }
    </style>

</head>
<body ng-app="Products">

    <section></section>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Phones Present</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
     </nav>
        <div>
            <div class="col">

                <div class="container" ng-controller="MobilesController">

                    <div ng-repeat="Mobile in mobiles" border="1">
                        <div class="row">
                            <div class="col-lg-3">{{Mobile.Id}}</div>
                            <div class="col-lg-3">{{Mobile.Name}}</div>
                            <div class="col-lg-3">{{Mobile.Price}}</div>
                            <div class="col-lg-3">{{Mobile.Ratings}}</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
</body>
</html>

